body {
    color: #222;
    text-align: center;
    background-color: #ddd;
}

.jumbotron {
    background: url('/img/jumbo.jpg');
    background-size: cover;
}

.navbar {
    margin: auto;
    width: 80%;
    color: #eee;
    background-color: #000;
    border-top-color: #ed1d32;
    border-bottom-color: #3953a5;
    border-width: 3;
}

.navbar-right {
    /* override bootstrap */
    margin-right: auto;
}

.navbar-img {
    height: 50;
    padding: 10;
    background-color: #000000;
    border-radius: 15px;
}

.navbar-nav li {
    list-style-type: none;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: inherit;
}

.panel {
    /* whitespace inside border */
    padding: 2px;
    /* Set intended size of flex boxes. Overrides default of sizing according to content */
    /* Flexbox by default prevents growing but allows shrinking */
    flex-basis: 350px;
    height: 200px;
    /* whitespace outside border (between elements and above/below) */
    margin: 10px;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

.flex-contain {
    display: flex;
    /* Allow content to wrap; do not force on one line */
    flex-wrap: wrap;
    width: 80%;
    /* Need auto margin to make width kick in */
    margin: auto;
    justify-content: center;
}

table {
    margin: auto;
}

thead tr {
    background-color: #ed1d32;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #aaaaaa;
    color: #000000;
}

tbody tr:nth-child(odd) {
    color: #000000;
}

td {
    padding: 8px;
}

#footer {
    margin-top: 8px;
}
