body {
    color: #222;
    text-align: center;
}

.jumbotron {
    background: url('./img/jumbo.jpg');
    background-size: cover;
}

.navbar {
    margin: auto;
    width: 60%;
    color: #eee;
}

.navbar-img {
    height: 50;
    padding: 10;
}

.navbar-nav li {
    list-style-type: none;
}
